.main {
  float: right;
  outline: none;
}
.group {
  list-style-type: none;
  float: right;
  overflow: hidden;
  padding: 0px;
}
  
.item {
  padding-left: 5px;
  display: inline;
  margin: 0;
  font-size: 0.7rem;
  
  /* Remove highlight on tap screen */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* Handle some Android devices, not supporting transparent keyword */
  -webkit-tap-highlight-color: transparent;
}

.open {
  display: inline-block;
  font-size: 0.7rem;
  cursor: pointer;
  color: #9F392B;

  /* Remove highlight on tap screen */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* Handle some Android devices, not supporting transparent keyword */
  -webkit-tap-highlight-color: transparent;
}